@model FoodOrder.Models.CategoriesViewModel.IndexViewModel

@{
    ViewData["Title"] = "Index";
    
}

<h2>Index</h2>

@Html.Partial("_CreateButtonPartial")
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Default.DisplayOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Default.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Categories) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.Partial("_TableButtonPartial", item.Id)
            </td>
        </tr>
}
    </tbody>
</table>
